*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}
header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
}
.nav-btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  color: whitesmoke;
  background-color: rgb(19, 137, 216);
  border-radius: 0.3rem;
}
.content {
  min-height: calc(100vh - 5rem);
}
.hero {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("utilities/aoe-background.jpg") center/cover no-repeat;
}

.single-cost {
  display: flex;
  gap: 2rem;
}
.cost-control {
  display: flex;
  gap: 0.5rem;
}
